.Project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 0;

  width: 100vw;
}

.project-header {
  width: 20%;
  padding-right: 72%;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
