
.ProjectItem {
    display: flex;
    flex-direction: row;


    transition: 0.3s;
  }

.ProjectItem:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-4px);
}

.left {
    display: flex;
    justify-content: center;
    margin: 15px;

    color: #999999;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-size: 25px;
    line-height: 36px;
  }

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

    color: #999999;
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
}

.image1 {
    width: 15vw;
    height: auto;
}

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}