.Project {
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.projectCard {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.projectCard::-webkit-scrollbar {
  display: none;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 3%;
  height: auto;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(255, 255, 255, 0) 0%, #fff, 100%);
  cursor: pointer;
  z-index: 9;
  opacity: 0.2;
}

.pre-btn:hover, 
.nxt-btn:hover{
  opacity: 1;
}

.pre-btn {
  left: 0;
}

.nxt-btn {
  right: 0;
}