
.ProjectItem {
    display: flex;
    flex-direction: column;

    min-width: 40%;
    height: 50vh;
    margin: 2%;


    border-style: solid;
    border-radius: 15px;
    border-color: rgb(153, 153, 153, 0);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-width: 3px;
  }

.ProjectItem:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-4px);
}

.top {
    display: flex;
    justify-content: center;
    margin: 15px;

    color: #999999;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-size: 25px;
    line-height: 36px;
  }

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

    color: #999999;
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
}

.image1 {
    width: 15vw;
    height: auto;
}

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}