.Project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 0;

  width: 100vw;

  padding-top: 2%;
}

.project-header {
  width: 20%;
  padding-right: 72%;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-bottom: 5%;
}
