
/* .intro{
    display: inline-block;
    overflow: hidden; 
    border-right: .15em solid #999999; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .05em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0% }
    to { width: 24%}
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #999999; }
  } */

.About {
  width: 100vw;
}

.intro { 
    color: #B8A1A1;
    /* font-family: "halyard-micro", sans-serif;
    font-weight: 400; */
    font-family: 'KaiseiOpti-Normal';
    /* font-weight: 400; */
    font-style: bold;
    font-size: 3em;
    letter-spacing: -1px;
}

.intro-description {
    color: #B8A1A1;
    font-family: 'KaiseiOpti-Normal';
    font-style: bold;
    font-size: 1.5em;

    width: 25%;
}

.arrow {
  display: flex;
  justify-content: center;
}

.pink-text {
    color: #EBCFC4;
}

.brown-text {
  color: #7C6968;
}

.bold-text {
  font-weight: bold;
}

.mini-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-top: 1%;
  padding-bottom: 1%;

  background-color: #f1dad871;
}

.stars {
  width: 7%;
  height: 10%;
}

.intro-scroller {
  border-radius: 1.5em;
  width: 19%;
  cursor: pointer;
  color: #B8A1A1;
  font-family: 'KaiseiOpti-Normal';
  font-style: normal;
  font-size: 2em;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  justify-content: center;

  text-align: left;

  padding-left: 2%;
}

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 50%;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 8s infinite;
  font-weight: bold;
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

.home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding-top: 1%;
  padding-bottom: 1%;
}

.left-textbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding-top: 3%;
  padding-bottom: 5%;

  /* background-color:rgba(241, 218, 216, 0.3);
  border: solid;
  border-color:#B8A1A1;
  border-width: 2px; */
}

.down-arrow {
  width: 20%;
  margin-top: 50%;
}

.down-arrow:hover {
  cursor: pointer;
}

.right-picturebox {
  /* width: 75%;
  display: flex;
  justify-content: center; */

  width: 100%;

  padding-top: 1%;

}

.about-profile-pic {
  width: 25%;
  height: auto;
  padding-left: 1%;
}

.about-intro-pic {
  width: 20%;
  height: auto;
  padding-right: 1%;
}

.profile-pic {
  height: auto;

  --s: 15px;  /* size of the frame */
  --b: 3px;   /* border thickness */
  --w: 50%;   /* width of the image */
  --c: rgba(241, 218, 216, 0.56);
  
  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2*var(--s));
  --_g: var(--c) var(--b),#0000 0 calc(100% - var(--b)),var(--c) 0;
  background:
    linear-gradient(      var(--_g)) 50%/100% var(--_i,100%) no-repeat,
    linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
  outline: calc(var(--w)/2) solid #0009;
  outline-offset: calc(var(--w)/-2 - 2*var(--s));
  transition: .4s;
  cursor: pointer;
}

img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s)/-2);
  --_i: calc(100% - 2*var(--s));
}

.about {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  padding-top: 6%;
}

.big-about-box {
  width: 70%;

  background-color: #f1dad871;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 5%;

  border: solid;
  border-radius: 50px;
  border-color: #B8A1A1;
  border-width: 0px; 
}

.about-header {
  color: #7C6968;

  font-family: "KaiseiOpti-Normal";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;

  text-decoration: underline #7C6968 dotted;
  text-underline-offset: 30px; 

  padding: 1%;
  padding-top: 3%;
  max-width: 14rem;
  border-radius: 4px;
  max-width: 50rem;

  width: 20%;
}

.about-text {
  color: #B8A1A1;

  font-family: 'Syne-Regular';
  font-style: normal;
  font-size: 1em;
}

.left-about {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  /* padding-left: 7%; */
  padding-bottom: 4%;

  /* padding: 2%;
  padding-left: 12%;
  padding-bottom: 5%; */
}

.right-about {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.about-box {
  width: 20%;

  display: flex;
  flex-direction: column;
}

.box-header {
  color: #7C6968;

  font-family: "KaiseiOpti-Normal";
  font-style: normal;
  font-size: 1.5em;
}

.computer-pic {
  width: 15%;
}

.computer-pic:hover {
  transform: translateY(-5px);
}

.healthcare-pic {
  width: 15%;
}

.healthcare-pic:hover {
  transform: translateY(-5px);
}

.music-pic {
  width: 15%;
}

.music-pic:hover {
  transform: translateY(-5px);
}

.underline-text {
  text-decoration: none;  
  color: #B8A1A1;
  font-family: 'Syne-Regular';
  font-style: normal;
  font-size: 1em;

  background-image: linear-gradient(120deg, #f9f9f6 0%, #f9f9f6 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

