.intro{
    display: inline-block;
    overflow: hidden; 
    border-right: .15em solid #999999; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .05em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0% }
    to { width: 24%}
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #999999; }
  }

.intro {
    padding: 15px;
    
    color: #999999;
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-size: 50px;
    line-height: 36px;
}

.pink-text {
    color: #EBCFC4;
}

.intro-description {
    padding: 10px;

    color: #999999;
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
}
