.Contact {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.github {
    width: 15%;
    height: auto;

}

.linkedin {
   width: 15%;
   height: auto;

}

.email {
    width: 50%;
    height: auto;
}