.Nav {
    overflow: hidden;
    /* position: fixed; */
    top: 0;
    width: 100%;

    padding-top: 1%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: #7C6968;
    text-align: center;
    text-decoration: none;

    font-family: "Syne-Regular";
    font-size: 1.2em;

    backdrop-filter: blur(5px);
    border-radius: 50px;
    border:solid;
    border-color: transparent;

    padding-left: 15px;
    padding-right: 15px;
}

/* li a:hover {
    text-decoration: underline;
    text-decoration-color: #EBCFC4;
} */

li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #EBCFC4;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  

.nav ul li > .active {
    text-decoration: underline;
    text-decoration-color: #EBCFC4;
}

/*
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: rgb(255, 254, 253);
    color: #999999;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: #999999;
    text-decoration: none;

    font-family: 'Kaisei Opti';
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
}

.nav li.active {
    text-decoration: underline;
    text-decoration-color: #EBCFC4;
}

.nav li:hover {
    text-decoration: underline;
    text-decoration-color: #EBCFC4;
}*/

