.Footer {
    width: 100%;  
    /* background-color: #f1dad871; */

    display: flex;
    flex-direction: column;

}

.footer-1 {
    background-color: #f1dad871;

    display: flex;
    justify-content: center;
}

.footer-link {
    padding: 1.5%;

    display: block;
    color: #B8A1A1;
    text-align: center;
    text-decoration: none;

    font-family: "Syne-Regular";
    font-size: 1em;
}

.footer-link:hover {
    color:#7C6968
}

.footer-2 {
    background-color: #dabebe;

    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #7C6968;
    text-decoration: none;

    font-family: 'KaiseiOpti-Normal';
    font-size: 0.85em;
}

.heart-icon {
    width: 7%;
}
