.Experience {
  display: flex;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 20%;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.right {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  flex-wrap: nowrap;

  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.image {
  width: 100px;
  height: 100px;

  padding: 15px;
}

.ExperienceItem {
  display: flex;

    border-style: solid;
    border-radius: 15px;
    border-color: rgb(153, 153, 153, 0);
    box-shadow: 0 4px 8px 0 rgb(100 86 49 / 10%), 0 6px 20px 0 rgb(100 86 49 / 10%);
    border-width: 3px;
    width: 75%;
    margin: 10px;
    /*box-shadow: 20px 20px 50px 10px gray inset;*/
  }

  .ExperienceItem:hover {
    border-color: #EBCFC4;
    transform: translateY(-4px);
  }

  .ExperienceItem h2{
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;

    color: #999999;
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-size: 25px;
    line-height: 36px;
  }

.description-text {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;

  color: #999999;
  font-family: 'Kaisei Opti';
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
}

.ExperienceList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}
