.Experience {
  display: flex;
  flex-direction: column;

  z-index: 0;
}

.experience-header {
  color: #7C6968;

  font-family: "KaiseiOpti-Normal";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;

  text-decoration: underline #7C6968 dotted;
  text-underline-offset: 30px; 

  padding: 2rem;
  max-width: 14rem;
  border-radius: 4px;
  max-width: 50rem;

  width: 25%;
  padding-left: 4%;
}

.ExperienceList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  z-index: 0;
}
