.App {
  text-align: center;
  width: 100vw;
  height: 100vh;

  overflow-wrap: break-word;
}

.logo-image {
  display: flex;
  justify-content: flex-start;

  width: 12%;
  padding: 25px;
}

.down-arrow {
  width: 5%;
  margin-top: 250px;
  margin-bottom: 10px;
}

.title {
  display: flex;
  justify-content: center;
  
  padding: 20px;
  margin-top: 250px;
  
  color: #EBCFC4;
  font-family: Noto Sans,sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 36px;

  margin-left: 30px;
}

.end {
  font-family: Noto Sans,sans-serif;
  font-style: italic; 
  font-size: 14px;
  line-height: 36px;

  color: #999999;
  padding-top: 50px;
}

