.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #f9f9f6;

  overflow-wrap: break-word;
}

.NavBar {
  display: flex;
  justify-content: space-between;
}

.logo-image {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding-left: 3%;
  padding-top: 3%;

  width: 13%;
}

.title {
  display: flex;
  justify-content: center;
  
  padding: 20px;
  margin-top: 250px;
  
  color: #EBCFC4;
  font-family: Noto Sans,sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 36px;

  margin-left: 30px;
}

.end {
  font-family: Noto Sans,sans-serif;
  font-style: italic; 
  font-size: 14px;
  line-height: 36px;

  color: #999999;
  padding-top: 50px;
}

